body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #ffffff; /* Белый фон для всей страницы */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* Белый фон для контейнера */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 18px;
}

.spacer {
    width: 100%;
    background-color: #ffffff; /* Белый цвет фона */
}

.training-button {
    width: 170px;
    height: auto;
    cursor: pointer;
}

.training-button:hover {
    color: gray;
}
