body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #ffffff; 
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; 
    width: 100%;
    max-width: 800px; 
    padding: 0 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 64px; 
}

.spacer {
    width: 100%;
    background-color: #ffffff; 
    height: 24px; 
}

.spacer-button {
    width: 100%;
    background-color: #ffffff; 
}

.training-button {
    width: 80%; 
    max-width: 300px; 
    height: auto;
    cursor: pointer;
    margin: 0 0 10px; 
}

.training-button:hover {
    color: gray;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 80%; 
    max-width: 800px; 
    margin: 80px 0; 
}

.button-container img {
    width: 100px; 
    height: auto;
    cursor: pointer;
}

.vk-button, .tg-button, .telephone-button {
    width: 100px; 
    height: auto;
    cursor: pointer;
    align-items: center;
}

@media (min-width: 1180px) {
    .container {
        width: 120%;
    }
}

@media (min-width: 1380px) {
    .container {
        width: 155%;
    }
}
